body{
    background-color: black;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

#title{
    flex-direction: column;
    line-height: 7px;   
}

#title:hover{
    color: rgb(15, 187, 218);
}

li{
    display: inline-block;
    margin: 15px;
}

a{
    color: white;
}

a:hover{
    color: rgb(15, 187, 218);
    transition: 0.3s all;
}

span{
    color: rgb(15, 187, 218);
}

#sobremim{
    font-size: 36px;
    font-family: poppinsmedium;
    font-weight: 100;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

#sobreConteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#foto{
    width: 225px;
    margin-right: 15px;    
}

p{
    font-family: poppinslight;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: 22px;
    font-weight: 100;
}
